<div class="col-12">
    <table class="table border-primary table-light table-hover
        table-bordered rounded rounded-3 overflow-hidden">

        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Task Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr class="h5" *ngFor="let toDo of toDos">


                <td [routerLink]='["/todoDetails",toDo.id]'>{{toDo.id}}</td>

                <td [routerLink]='["/todoDetails",toDo.id]' class="{{
                    toDo.status ==2 ? 'done' : '' }}">{{toDo.title}}</td>
                <td *ngIf="toDo.status !=3 else undel">
                    <button *ngIf="(toDo.status !=2 ) "
                        (click)="complete(toDo)" class="btn
                        btn-success me-2" type="button"><i class="fa
                            fa-check "></i></button>
                    <button *ngIf="(toDo.status !== 1 )&&(toDo.status !=2 ) else
                        unfav"
                        (click)="favorite(toDo)"
                        class="btn
                        btn-warning me-2" type="button"><i class="fa-regular
                            fa-star"></i></button>

                    <ng-template #unfav>
                        <button
                            (click)="backToPendding(toDo)"
                            class="btn
                            btn-primary me-2" type="button"><i class="fa-solid
                                fa-backward"></i></button>
                    </ng-template>


                    <button (click)="Delete(toDo)" class="btn
                        btn-danger" type="button"><i class="far
                            fa-trash-alt"></i></button>
                </td>
                <ng-template #undel>
                    <td>
                        <button
                            (click)="backToPendding(toDo)"
                            class="btn
                            btn-primary me-2" type="button"><i class="fa-solid
                                fa-backward"></i></button>
                        <button
                            (click)="saveToSend(toDo)"
                            class="btn
                            btn-danger me-2" type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><i class="fa-solid
                                fa-xmark"></i></button>
                    </td>


                </ng-template>

            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 "
                        id="exampleModalLabel ">Remove Todo </h1>
                    <button type="button" class="btn-close
                        text-danger"
                        style="background-color: #fff"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    Are You sure you want to Remove this ?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn
                        btn-secondary"
                        data-bs-dismiss="modal">No</button>
                    <button
                        type="button" class="btn
                        btn-danger" data-bs-dismiss="modal"
                        (click)="removeTodo()">Yes</button>
                </div>
            </div>
        </div>
    </div>


</div>
